* {
    color: white;
}
button {
    color:black;
    background: silver;
}
.container {
    background-color: black;
    color: white;
    height: 50px;
    justify-content: left;
    display: stack;
    padding: 8px;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
}
.left-container {
    width: 50%;
    text-align: left;    
}
.right-container {
    width: 50%;
    text-align: right;
}