<div class="container">
    <div *ngIf="!user.pk">
        <h1>Qutat.net</h1>
        <h2>Qutat.net is a web service that provides a platform for users to share their own quotes.</h2>
        <form [formGroup]="checkoutForm" (ngSubmit)="login()">
            <label for="email">Email</label>
            <input id="email" type="text" formControlName="email">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password"> &nbsp;
            <button class="button" type="submit">Login</button>
      </form>
    </div>
</div>
