* {
    --left-sidebar-width: 200px;
}

top-bar {
    display: block;
    position: sticky; 
    top: 0;
}

app-footer {
  display: block;
  position: fixed; 
  bottom: 0;
  width:100%;
}

.left {
    background:gray;
    display: block;
    position: fixed; 
    left: 0;
    width: var(--left-sidebar-width);
    height:100%;
}
.right {
    background:yellowgreen;
    display: block;
    position: fixed; 
    right: 0;
    width:150px;
    height:100%;
}
.main {
    margin-left:var(--left-sidebar-width);
    height:100%;
}
